<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ariel的小站</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="wb:webmaster" content="117d30bd757f6535">
    <link type="text/css" rel="stylesheet" href="static/css/style.css?t=5">
    <!-- <link type="text/css" rel="stylesheet" href="static/css/main.2.0.1.css"> -->
    <script type="text/javascript" src="static/js/jquery.1.9.1.min.js"></script>

    <!--  兼容IE8以下的HTML5 标签-->
    <!---[if lt IE 8]-->
    <script src="static/js/html5.js"></script>
    <!--[endif]–-->
