<header class="header">
    <div class="header-box">
        <a class="logo-href" href=""></a>
        <ul class="clearfix">
            <li class="no-border"><a href="/index.html" name="index">home</a></li>
        </ul>
    </div>
</header>
<script type="text/javascript">
    var pathname = location.pathname.match(/\/(\S*)\./);
    pathname = pathname?pathname:["","index"];
    $('a[name="'+pathname[1]+'"]').addClass('actived');
    $('a[name="'+pathname[1]+'"]').siblings().removeClass('actived');

</script>